version: '3.8'

services:
  db:
    image: mariadb:11.1
    container_name: bloodpressure-db
    env_file:
      - ./.env
    environment:
      - MYSQL_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

  app:
    build: .
    container_name: bloodpressure-api
    depends_on:
      - db
    env_file:
      - ./.env
    ports:
      - "8080:8080"
    restart: unless-stopped

volumes:
  db_data:
